.primary{
    background: $primaryColor;
    color: $black;
}

.primaryCo{
    background: $primaryColorConnect;
    color: $write;
}

.primaryICo{
    background: $primaryColor;
    color: $black;
}

.primaryI{
    background: $primaryColorConnect;
    color: $write;
}