@font-face {
    font-family: "PopBold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
   }

@font-face {
    font-family: "PopBlack";
    src: url("../fonts/Poppins/Poppins-Black.ttf");
}

@font-face {
    font-family: "PopLight";
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}