
header{
    nav{
        padding: 15px;
        @include flex(space-between, center);
        & > div{
            position: relative;
            @include flex(center, center);
            & > div{
                position: absolute;
                width: 35px;
                height: 34px;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 25px;
                z-index: 20;
                border-radius: 50%;
                @include flex(center, center, column);
                cursor: pointer;
                span{
                    border-radius: 5px;
                    margin: 2px;
                    width: 22px;
                    height: 2px;
                }
                &:hover{
                    transition: 0.3s all;
                }
            }
            .primaryICoHover:hover{
                background: $primaryColorHover;
            }
            .primaryIHover:hover{
                background: $primaryColorConnectHover;
            }
            & > a{
                img{
                    margin-left: 70px;
                    width: 115px;
                }
            }
        }
        .logoUser{
            width: 33px;
            margin-right: 30px;
            cursor: pointer;
            img{
                overflow: hidden;
                width: 100%;
            }
        }
    }
}