// COLOR
$primaryColorConnect: #202020;
$primaryColorConnectHover: #2020209e;

$secondaryColorConnect: #181818;

$thirdColorConnect: #ff0000;

$primaryColor: #FFFFFF;
$primaryColorHover: #f3f3f371;

$secondaryColor: #F9F9F9;

$thirdColor: #ff0000;

$write: #fff;
$black: #1a1a1a;
$blackHover: #1a1a1ac2; 