// COLOR
$primaryColorConnect: #202020;
$primaryColorConnectHover: #2020209e;

$secondaryColorConnect: #181818;

$thirdColorConnect: #ff0000;

$primaryColor: #F3F3F3;
$primaryColorHover: #f3f3f371;

$secondaryColor: #FBC9C9;

$thirdColor: #ff0000;

$write: #fff;
$black: #000;